<div class="product-wrapper">
    <div class="product-container">
  <div *ngFor="let product of products" (click)="redirectToProductDetails(product.id) " class="product-item">
      <div>
      <h3>€ {{ product.price }}</h3>
      </div>
      <div class="product-image" *ngIf="product.imageUrls && product.imageUrls.length > 0">
            <img [src]="product.imageUrls[0]" alt="Product Image">
        </div>
        <div class="product-image" *ngIf="!product.imageUrls || product.imageUrls.length === 0">
          No images available.
        </div>
        <h2>{{ product.name }}</h2>
        <button disabled *ngIf="product.stockquantity === 0" class="out-of-stock-button">Out Of Stock</button>   
        <button  *ngIf="product.stockquantity > 0" (click)="handleButtonClick($event, product)" class="add-to-cart-button">Add To Cart
        </button>
      </div>
  </div>
    <button class="back-button" (click)="goBack()">Back</button>
  </div>